.WeatherAndForecast__container {
  .col {
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    .wrap {
      background-color: white;
      border-radius: 15px;
      cursor: pointer;
    }
  }
}
