.WeatherAndForecast__container {
  .row {
  }
  .col {
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    // height: 100%;
    .wrap {
      background-color: white;
      border-radius: 15px;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      height: 100%;
      box-sizing: border-box;
    }
  }
}
