.WeatherAndForecast__container {
  .col {
    width: 25%;
    padding: 10px;
    //   margin: 15px 0;
    box-sizing: border-box;
    text-align: center;
    overflow: scroll;
    .wrap {
      background-color: white;
      border-radius: 15px;
      cursor: pointer;
    }
  }
}
