* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  background-color: #d6d7da;
  height: 100%;
  display: flex;
  align-items: center;
}

.icon-size {
  font-size: 50px;
  text-align: center;
}

.icon-color {
  color: #0d6efdc4;
}

.text-black-50 {
  color: rgb(0 0 0 / 26%) !important;
}

@media only screen and (max-width: 768px) {
  #root,
  .res {
    height: auto !important;
    position: initial !important;
  }
}
